image:
  repository: ghcr.io/cyrixrr/strapi
  tag: "7e0dcdd7998c3d4508714b4f30cb842caacd1505"
  pullPolicy: IfNotPresent

replicaCount: 3 

service:
  type: NodePort
  port: 1337
  nodePort: 31337

persistence:
  enabled: true
  storageClass: nfs-client
  size: 10Gi
  mountPath: /opt/app/public/uploads

database:
  host: strapi-postgresql
  port: 5432
  name: strapi
  username: strapi
  passwordSecret:
    name: strapi-postgres-credentials
    key: password

strapiSecrets:
  name: strapi-secrets

env:
  NODE_ENV: "production"
