image:
  repository: ghcr.io/cyrixrr/strapi
  tag: "cee1be86642eca27081636f04f4a5a488c75caa4"
  pullPolicy: IfNotPresent

replicaCount: 1

service:
  type: NodePort
  port: 1337
  nodePort: 31338    # dev uses different NodePort to avoid clash with prod

persistence:
  enabled: true
  storageClass: nfs-client
  size: 10Gi
  mountPath: /opt/app/public/uploads

database:
  host: strapi-postgresql.strapi.svc.cluster.local  # Cross-namespace DB service in "strapi" namespace (shared DB)
  port: 5432
  name: strapi
  username: strapi
  passwordSecret:
    name: strapi-postgres-credentials
    key: password

strapiSecrets:
  name: strapi-secrets

env:
  NODE_ENV: "development"
