apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: ghcr.io/cyrixrr/myapp:0.0.0
          ports:
            - containerPort: 8000
          env:
            - name: APP_VERSION
              value: "0.0.0"
            - name: GIT_SHA
              value: "manual"
