apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: ghcr.io/cyrixrr/myapp:f7c085111b0f6d677449b9bd843d51ff033fa7b1
          ports:
            - containerPort: 8000
          env:
            - name: APP_VERSION
              value: "1ca172e422ca917405d79eaf3b84684e9c3b3a58"
            - name: GIT_SHA
              value: "1ca172e422ca917405d79eaf3b84684e9c3b3a58"
