apiVersion: apps/v1
kind: Deployment
metadata:
  name: myapp
spec:
  replicas: 1
  selector:
    matchLabels:
      app: myapp
  template:
    metadata:
      labels:
        app: myapp
    spec:
      containers:
        - name: myapp
          image: ghcr.io/cyrixrr/myapp:6001b3e618878df58e1364c698d7662e61d48d73
          ports:
            - containerPort: 8000
          env:
            - name: APP_VERSION
              value: "1ca172e422ca917405d79eaf3b84684e9c3b3a58"
            - name: GIT_SHA
              value: "1ca172e422ca917405d79eaf3b84684e9c3b3a58"
