apiVersion: apps/v1
kind: Deployment
metadata:
  name: strapi
  labels:
    app: strapi
spec:
  replicas: 1
  selector:
    matchLabels:
      app: strapi
  template:
    metadata:
      labels:
        app: strapi
    spec:
      containers:
        - name: strapi
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
          env:
            - name: NODE_ENV
              value: "production"

            - name: DATABASE_CLIENT
              value: "postgres"
            - name: DATABASE_HOST
              value: {{ .Values.database.host | quote }}
            - name: DATABASE_PORT
              value: {{ .Values.database.port | quote }}
            - name: DATABASE_NAME
              value: {{ .Values.database.name | quote }}
            - name: DATABASE_USERNAME
              value: {{ .Values.database.username | quote }}
            - name: DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.database.passwordSecret.name | quote }}
                  key: {{ .Values.database.passwordSecret.key | quote }}

            - name: APP_KEYS
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.strapiSecrets.name | quote }}
                  key: APP_KEYS
            - name: API_TOKEN_SALT
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.strapiSecrets.name | quote }}
                  key: API_TOKEN_SALT
            - name: ADMIN_JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.strapiSecrets.name | quote }}
                  key: ADMIN_JWT_SECRET
            - name: JWT_SECRET
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.strapiSecrets.name | quote }}
                  key: JWT_SECRET

          volumeMounts:
            - name: uploads
              mountPath: {{ .Values.persistence.mountPath | quote }}

      volumes:
        - name: uploads
          persistentVolumeClaim:
            claimName: strapi-uploads
